/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
body {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px; }

.listelement {
  display: list-item;
  list-style-type: circle;
  margin-left: 1.3em; }

header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row; }

#userLogo {
  width: 7em;
  order: 1;
  background-size: contain; }

#socialicons {
  order: 2;
  min-width: 5em;
  font-size: 1.5em; }

#socialicons > a {
  padding: 0.25em; }

#smallPic {
  display: none;
  border-radius: 50%;
  border: 3px solid black; }
  @media only screen and (max-width: 480px) {
    #smallPic {
      display: block;
      width: 12em;
      height: 12em;
      background: url("../images/sridhanyaintro.jpg") no-repeat;
      background-position: 12% 6%;
      margin: 5% 20%; } }
  @media only screen and (max-width: 360px) {
    #smallPic {
      display: block;
      width: 12em;
      height: 12em;
      background: url("../images/sridhanyaintro.jpg") no-repeat;
      background-position: 12% 6%;
      margin: 5% 15%; } }

#intro {
  width: 60em;
  height: 30em;
  background: url("../images/sridhanyaintro.jpg") no-repeat;
  background-size: contain;
  margin: 0.5%; }
  @media only screen and (max-width: 768px) {
    #intro {
      width: 45em;
      height: 20em;
      margin: 2%; } }
  @media only screen and (max-width: 601px) {
    #intro {
      width: 35em;
      height: 20em;
      margin: 1%; } }
  @media only screen and (max-width: 480px) {
    #intro {
      width: 25em;
      height: 15em;
      background: url("../images/sridhanyaintromobile.jpg") no-repeat;
      background-size: contain;
      margin: 3%; } }
  @media only screen and (max-width: 360px) {
    #intro {
      width: 20em;
      height: 15em;
      background: url("../images/sridhanyaintromobile.jpg") no-repeat;
      background-size: contain;
      margin: 1.5%; } }

.project, #workExp {
  margin: 0.5em 0; }

.project h4 {
  display: block; }

#projects {
  min-height: 900px;
  margin-top: 5em; }
  @media only screen and (max-width: 768px) {
    #projects {
      min-height: 500px;
      margin-top: 1em; } }
  @media only screen and (max-width: 480px) {
    #projects {
      min-height: 500px;
      margin-top: 1em; } }
  @media only screen and (max-width: 360px) {
    #projects {
      min-height: 500px;
      margin-top: 1em; } }

.project .fa, #summary .fa, #workExp .fa {
  margin-right: 1em; }

.descriptionlink {
  display: none; }
  @media only screen and (max-width: 768px) {
    .descriptionlink {
      display: block; } }
  @media only screen and (max-width: 480px) {
    .descriptionlink {
      display: block; } }
  @media only screen and (max-width: 360px) {
    .descriptionlink {
      display: block; } }

.description {
  display: block; }
  @media only screen and (max-width: 768px) {
    .description {
      display: none; } }
  @media only screen and (max-width: 480px) {
    .description {
      display: none; } }
  @media only screen and (max-width: 360px) {
    .description {
      display: none; } }

#summarySection li {
  margin-bottom: 1em; }

#aboutMeInfoImgs {
  display: flex; }
  @media only screen and (max-width: 1200px) {
    #aboutMeInfoImgs {
      flex-direction: row; } }
  @media only screen and (max-width: 992px) {
    #aboutMeInfoImgs {
      flex-direction: row; } }
  @media only screen and (max-width: 768px) {
    #aboutMeInfoImgs {
      flex-direction: column; } }
  @media only screen and (max-width: 601px) {
    #aboutMeInfoImgs {
      flex-direction: column; } }
  @media only screen and (max-width: 480px) {
    #aboutMeInfoImgs {
      flex-direction: column; } }
  @media only screen and (max-width: 360px) {
    #aboutMeInfoImgs {
      flex-direction: column; } }

.aboutMePic {
  width: 20em;
  height: 20em;
  background-size: contain;
  border: 1px;
  border: 2px dotted;
  border: medium dashed green;
  margin: 1em; }
  @media only screen and (max-width: 1200px) {
    .aboutMePic {
      margin: 0.25em; } }
  @media only screen and (max-width: 768px) {
    .aboutMePic {
      width: 20em;
      height: 20em;
      margin-left: 10%;
      background-size: contain; } }
  @media only screen and (max-width: 480px) {
    .aboutMePic {
      width: 20em;
      height: 20em;
      background-size: contain;
      margin-left: 1.5em; } }
  @media only screen and (max-width: 360px) {
    .aboutMePic {
      width: 15em;
      height: 15em;
      background-size: contain;
      margin-left: 1.5em; } }
