/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
body {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px; }

.listelement {
  display: list-item;
  list-style-type: circle;
  margin-left: 1.3em; }

header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row; }

#userLogo {
  width: 7em;
  order: 1;
  background-size: contain; }

#socialicons {
  order: 2;
  min-width: 5em;
  font-size: 1.5em; }

#socialicons > a {
  padding: 0.25em; }

#profilePic {
  width: 20em;
  height: 30em;
  background: url("../images/sridhanyafullpic.jpg") no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0.5%; }
  @media only screen and (max-width: 992px) {
    #profilePic {
      width: 15em;
      height: 20em; } }
  @media only screen and (max-width: 768px) {
    #profilePic {
      width: 12em;
      height: 12em;
      background-position: 12% 6%;
      margin: 5% 25%;
      background-size: cover;
      border-radius: 50%; } }
  @media only screen and (max-width: 480px) {
    #profilePic {
      width: 12em;
      height: 12em;
      background-position: 12% 6%;
      background-size: cover;
      border-radius: 50%; } }
  @media only screen and (max-width: 360px) {
    #profilePic {
      width: 12em;
      height: 10em;
      background-position: 12% 6%;
      background-size: cover;
      border-radius: 50%; } }

#profileIntro {
  width: 35em;
  height: 32em;
  background: url("../images/sridhanyaintrotext.jpg") no-repeat;
  background-size: contain;
  background-position: center; }
  @media only screen and (max-width: 992px) {
    #profileIntro {
      width: 25em;
      height: 21em; } }
  @media only screen and (max-width: 768px) {
    #profileIntro {
      height: 25em;
      width: 35em; } }
  @media only screen and (max-width: 601px) {
    #profileIntro {
      width: 35em;
      height: 20em;
      margin: 1%; } }
  @media only screen and (max-width: 480px) {
    #profileIntro {
      width: 25em;
      height: 15em;
      background-size: contain;
      margin: 3%; } }
  @media only screen and (max-width: 360px) {
    #profileIntro {
      width: 20em;
      height: 15em;
      background-size: contain;
      margin: 1.5%; } }

.project, #workExp {
  margin: 0.5em 0; }

#projects {
  min-height: 900px;
  margin-top: 5em; }
  @media only screen and (max-width: 768px) {
    #projects {
      min-height: 500px;
      margin-top: 1em; } }
  @media only screen and (max-width: 480px) {
    #projects {
      min-height: 500px;
      margin-top: 1em; } }
  @media only screen and (max-width: 360px) {
    #projects {
      min-height: 500px;
      margin-top: 1em; } }

.project .fa, #summary .fa, #workExp .fa {
  margin-right: 1em; }

#summarySection li {
  margin-bottom: 1em; }

#summaryExp .fa-list-alt {
  margin-right: 1em; }

.aboutMePic {
  height: 20em;
  background-size: contain;
  border: 2px dotted;
  border: medium dashed green; }
  @media only screen and (max-width: 1200px) {
    .aboutMePic {
      height: 17em; } }
  @media only screen and (max-width: 992px) {
    .aboutMePic {
      height: 15em; } }
  @media only screen and (max-width: 768px) {
    .aboutMePic {
      height: 30em;
      background-size: contain; } }
  @media only screen and (max-width: 480px) {
    .aboutMePic {
      height: 30em;
      background-size: contain; } }
  @media only screen and (max-width: 360px) {
    .aboutMePic {
      height: 30em;
      background-size: contain; } }

#aboutMe .fa-user {
  margin-right: 1em; }

footer {
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  right: 0;
  left: auto; }
  @media only screen and (max-width: 768px) {
    footer {
      left: 0;
      right: auto; } }
  @media only screen and (max-width: 480px) {
    footer {
      left: 0;
      right: auto; } }
  @media only screen and (max-width: 360px) {
    footer {
      left: 0;
      right: auto; } }
