.aboutMePic {
    height: 20em;
    background-size: contain;
	border: 2px dotted;
	border: medium dashed green;
	@include desktop {
        height: 17em;
	}
    @include laptop {
        height: 15em;
    }
     @include tablet {
	    height: 30em;
        background-size: contain;
    }
    @include phone {
	    height: 30em;
        background-size: contain;
    }
    @include small_phone {
	    height: 30em;
        background-size: contain;
    }
}
#aboutMe .fa-user {
    margin-right: 1em;
}