#aboutMe .fa-user {
    margin-right: 1em;
}
.aboutMeRow {
    display: block;
}
.aboutMePic {
    border: 2px dotted;
    border: medium dashed green;
    max-width: 350px;
    @include desktop {
        max-width: 300px;
    }
    @include laptop {
        max-width: 225px;
    }
     @include tablet {
        max-width: 100%;
    }
    @include phone {
       max-width: 100%;
    }
    @include small_phone {
        max-width: 100%;
    }
}