footer {
	position: fixed;
    bottom: 0;
    color: white;
    text-align: center;
    right: 0;
    left: auto;
    @include tablet {
		left: 0;
		right: auto;
	}
	@include phone {
		left: 0;
		right: auto;
	}
	@include small_phone {
		left: 0;
		right: auto;
	}
}

#navigator > a {
	font-size: 2em;
	display: inline-block;
	@include tablet {
		display: 1em;
	}
	@include phone {
		display: 1em;
	}
	@include small_phone {
		display: 1em;
	}
}