header {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}
#userLogo {
	width: 7em;
	order: 1;
	background-size: contain;
}
#socialicons {
	order: 2;
	min-width: 5em;
	font-size: 1.5em;
}
#socialicons > a {
	padding: 0.25em;
}