.project, #workExp {
	margin: 0.5em 0;
}
#projects {
	min-height: 900px;
	margin-top: 5em;
	@include tablet {
		min-height: 500px;
		margin-top: 1em;
	}
	@include phone {
		min-height: 500px;
		margin-top: 1em;
	}
	@include small_phone {
		min-height: 500px;
		margin-top: 1em;
	}
}
.project .fa, #summary .fa, #workExp .fa {
	margin-right: 1em;
}