.project, #workExp {
	margin: 0.5em 0em;
}
.project h4 {
	display: block;
}
#projects {
	min-height: 900px;
	margin-top: 5em;
	@include tablet {
		min-height: 500px;
		margin-top: 1em;
	}
	@include phone {
		min-height: 500px;
		margin-top: 1em;
	}
	@include small_phone {
		min-height: 500px;
		margin-top: 1em;
	}
}
.project .fa, #summary .fa, #workExp .fa {
	margin-right: 1em;
}
.descriptionlink {
	display: none;
	@include tablet {
		display: block;
	}
	@include phone {
		display: block;
	}
	@include small_phone {
		display: block;
	}
}
.description {
	display: block;
	@include tablet {
		display: none;
	}
	@include phone {
		display: none;
	}
	@include small_phone {
		display: none;
	}	
}